@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&family=Share+Tech+Mono&display=swap');

:root {

    --font-detail: 'Share Tech Mono', monospace;
    --font-main: 'JetBrains Mono', monospace;

    --max-width: 1920px;
    --min-width: 360px;

    --background-color: #FFFFFF;
    --background-secondary: #F8F9FA;
    --text-primary: #121212;
    --text-secondary: #4a4a4a;
    --accent-primary: #E50914;
    --accent-hover: #C40812;
    --border-color: #cccccc;
    --background-blur: #FFFFFFCC;
    --shadow-color: #00000014;
    --shadow-accent: #E5091466;
    --black-blur: #00000099;
    
    --font-color: #000000;
    --primary: #D9D9D9;
    --hover: #A60000;
}
