.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 10px 0px;
}

.container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    gap: 24px;
    padding: 0px 10px;
}

.icon {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icon:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px var(--shadow-color);
}
