.link {
    display: inline-block;
    font-family: var(--font-detail);
    font-weight: 500;
    color: var(--text-primary);
    text-decoration: none;
}

@media (max-width: 768px) {
    .link {
        color: var(--accent-primary);
    }
}

